<div class='container'>
  <div class='text-center mb-2 pt-4'>
    <%= image_tag 'logo.svg' %>
  </div>
  <p class='notification-title text-center mb-5'>A log has been deleted from the board</p>
  <h1><strong><%= @board.name %></strong></h1>
  <p>
    <%= @log.title %>
    <%= sanitize @log.text %>
  </p>
</div>