<div class='header mb-5'>
  <div class='header__left'>
    <%= link_to root_path do %>
      <h3>Logs</h3>
    <% end %>
    <nav>
      <%= link_to 'New log', new_log_path, class: 'new_link' %>
    </nav>
  </div>
</div>