<%= render 'partials/header' %>
<div class='container'>
  <% if @boards.empty? %>
    <div class="jumbotron jumbotron-fluid border rounded">
      <div class="container">
        <h4 class="text-center">You don't have any logs yet</h4>
      </div>
    </div>
  <% end %>

  <div class='row'>
    <%= render @boards %>
  </div>
</div>