<%= render 'partials/header' %>
<div class="changologs-app-container">
  <%= render 'partials/sidebar' %>
  <div class="app-content">
     <div class='container'>
        <h3>Shared with you</h3>
        <% if @sharedBoards.empty? %>
          <%= render partial: 'partials/empty', locals: { message: "You don't have any logs yet" } %>
        <% else %>
          <div class='row'>
            <%= render @sharedBoards %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>