/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap-tagsinput
 *= require bootstrap-datepicker
 */

@import "bootstrap";
@import "variables";
@import "welcome";
@import "boards";
@import "logs";
@import "friends";

@import "summernote-bs4";
@import "font-awesome";

.w-100 {
  width: 100%;
}

body {
  overflow: hidden;
}

.changologs-main-app-wrapper {
  height: 100vw;
  overflow: hidden;
}

.changologs-app-container {
  width: 100vw;
  height: 100%;
  position: relative;
  display: flex;
  flex: 1 1 0%;
  background: $white;
  cursor: text;

  .app-content {
    padding: 20px;
    width: 100%;
  }

  .changologs-sidebar {
    width: 389px;
    background-color: rgb(247, 247, 245);
    position: relative;
    transition: all 0.2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.024) -1px 0px 0px 0px inset;

    .fa-angle-double-left {
      transition: all 0.3s ease-in-out;
    }

    .fa {
      color: rgba(55, 53, 47, 0.45);
    }

    &.sidebar-closed {
      width: 80px;

      .fa-angle-double-left {
        transform: rotate(180deg);
      }

      .menu {
        .menu-button {
          text-align: center;
          .fa {
            font-size: 30px;
          }
          a {
            display: none;
          }
        }
      }
    }

    .hide-sidebar {
      position: absolute;
      right: 5px;
      top: 5px;
      background: none;
      padding: 0px;
      border: 0;
      border-radius: 4px;
      height: 28px;
      width: 28px;
      cursor: pointer;
      &:hover {
        background: rgba(0, 0, 0, 0.03);
      }
    }

    .menu {
      padding-top: 40px;
      padding: 40px 10px 0 10px;
      .menu-button {
        background: none;
        border: none;
        width: 100%;
        text-align: left;
        cursor: pointer;
        border-radius: 4px;
        a {
          color: $light-grey;
          font-size: 14px;
          font-weight: 500;
          .fa {
            font-size: 16px;
            margin-right: 5px;
          }
        }
        &:hover {
          background: rgba(0, 0, 0, 0.03);
        }
      }
    }
  }
}

// Mobile adjustments
@media only screen and (max-width: 600px) {
  body {
    overflow: auto;
  }
  .changologs-main-app-wrapper {
    overflow: auto;
    height: 100%;
    .changologs-app-container {
      overflow: auto;
      .changologs-sidebar {
        width: 100vw; // Full width for mobile
        height: auto;
        position: fixed; // Overlay style
        z-index: 1000;
        top: 0;
        left: 0;
        transform: translateX(-100%); // Initially hidden off-screen
        transition: transform 0.3s ease-in-out;
    
        &.sidebar-open {
          transform: translateX(0); // Slide in on open
        }
      }
    
      .hide-sidebar {
        display: none; // Optionally hide the button on mobile
      }
    
      // Hamburger menu icon for toggling sidebar
      .hamburger {
        position: absolute;
        top: 10px;
        left: 10px;
        cursor: pointer;
        z-index: 1100;
    
        .line {
          width: 30px;
          height: 3px;
          background-color: black;
          margin: 6px 0;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
}

a {
  text-decoration: none;
  color: $blue;
  &:hover {
    text-decoration: none !important;
  }
}

img {
  max-width: 100%;
}

.shadow {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.shadow-sm {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.form-group {
  .bootstrap-tagsinput {
    padding: 6px 5px;
    min-height: 50px;
    width: 100%;
  }
  .tag {
    background-color: #5bc0de;
    padding: 3px 5px;
    border-radius: 5px;
    margin: 4px;
    display: inline-block;
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0px;
  font-size: 14px;
  color: rgba(0,0,0,.75);
}
  
.profile-picture {
  width: 20px;
  height: 20px;
  border-radius: 20px;
}

.big-profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}