/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap-tagsinput
 */
 

@import "bootstrap";
@import "variables";
@import "logs.scss";

@import "summernote-bs4";
@import "font-awesome";

a {
  text-decoration: none;
  color: $blue;
  &:hover {
    text-decoration: none !important;
  }
}

.shadow {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.shadow-sm {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.form-group {
  .bootstrap-tagsinput {
    padding: 6px 5px;
    min-height: 50px;
    width: 100%;
  }
  .tag {
    background-color: #5bc0de;
    padding: 3px 5px;
    border-radius: 5px;
    margin: 4px;
    display: inline-block;
  }
}
  
  

