// Place all the styles related to the Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.label-icon {
  color: $light-grey;
  .fa {
    margin-right: 5px;
  }
}
.board-wrapper {
  .board-wrapper__board-item {
    min-height: 150px;
    .board-actions {
      z-index: 1;
      right: 0;
      .dropdown-toggle {
        text-align: center;
        background-color: transparent;
        border: none;
        &:hover {
          cursor: pointer;
        }
        &:focus {
          border: 0;
          outline: none;
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
        }
        span {
          width: 3px;
          height: 3px;
          margin: 3px 0;
          background-color: #fff;
          border-radius: 50%;
          display: block;
        }
        &:after {
          display: none;
        }
      }
      .dropdown-menu {
        z-index: 2;
      }
    }
  }
}
