a {
  text-decoration: none;
  color: $blue;
  &:hover {
    text-decoration: none !important;
  }
}

.datepicker-dropdown {
  padding: 20px;
}

img {
  max-width: 100%;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.75);
}

.flex {
  display: flex;
}
