// Place all the styles related to the Friends controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#list-friends {
  max-height: 400px;
  overflow-y: scroll;
}

.selected-friends {
  .delete {
    background-color: transparent;
    border: none;
    color: white;
    &:hover {
      cursor: pointer;
    }
  }
}
