// Place all the styles related to the Logs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#header {
  &.header {
    text-align: right;
    overflow: hidden;
    h2 {
      font-weight: bold;
      color: white;
    }
    a {
      display: block;
      color: white;
      &:hover {
        text-decoration: none;
      }
    }
    .header__left {
      background-color: $blue;
      padding: 20px;
    }
  }
  
  .logo-wrapper {
    width: 150px;
  }
}

.log {
  .created_date {
    font-size: 14px;
  }
}