// Place all the styles related to the Logs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.eye {
  opacity: 0.7;
}

#header {
  &.header {
    text-align: right;
    overflow: hidden;
    h2 {
      font-weight: bold;
      color: white;
    }
    a {
      display: block;
      color: white;
      &:hover {
        text-decoration: none;
      }
    }
    .header__left {
      background-color: $blue;
      padding: 20px;
    }
  }

  .logo-wrapper {
    img {
      width: 50px;
    }
  }
}

.log {
  &.log-daily_log {
    .card-body {
      padding: 0.7em 1em;

      .prev-log-content {
        display: flex;
        font-size: 14px;
        .created_date {
          font-size: 14px;
        }
      }
    }
  }
  &:hover {
    & .hide-true {
      filter: blur(0px);
    }
  }
  .card__content {
    max-height: 300px;
    overflow-y: scroll;
  }

  .card__content img {
    max-width: 100%;
  }
  .hide-true {
    filter: blur(4px);
  }
  .card {
    background-color: #f9f9f9;
  }
  .created_date {
    font-size: 14px;
  }
}

.second-toolbar {
  a {
    visibility: hidden;
  }
}

.date {
  color: #888888;
  font-size: 12px;
}

.log-content {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 25px 0px;
  margin-bottom: 15px;
}

form {
  .note-popover .popover-content,
  .card-header.note-toolbar {
    background-color: #fff;
  }

  .note-editor {
    &.note-frame {
      border: 1px solid #dee2e6;
    }
  }
}
@media only screen and (max-width: 600px) {
  .logs-new {
    padding: 0 !important;
  }
}