.site-content {
  h1 {
    font-size: 32px;
    line-height: 36px;
  }
  .site-content-wrapper {
    img {
      max-width: 100%;
      height: auto;
    }
    font-size: 19px;
    p {
      line-height: 1.6em;
    }
  }
}