// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.log {
  overflow: hidden;
  
  .log-actions {
    width: 100%;
    top: -100px;
    left: 0;
    transition: all 0.5s cubic-bezier(.25,.52,.03,1.05);
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &:hover {
    .log-actions {
      display: block;
      transform: translateY(0%);
      top: 0;
    }    
  }
}
