<%= render 'partials/header' %>
<div class="changologs-app-container">
  <%= render 'partials/sidebar' %>
  <div class="app-content">
    <div class='container p-4'>
      <div class='row'>
        <div class='col-sm'>
          <h1>Edit log</h1>
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>