<%= render 'partials/header' %>
<div class="changologs-app-container">
  <%= render 'partials/sidebar' %>
  <div class="app-content logs-new">
    <div class='container p-4'>
      <div class='row'>
        <div class='col-sm'>
          <h6>Board: <%= @board.name %></h6>
          <h1 class="border-bottom pb-4 mb-4">New log</h1>
          <%= render partial: "logs/form_templates/#{@board.board_type}" %>
        </div>
      </div>
    </div>
  </div>
</div>