<%= render 'welcome/header' %>
<div class='container border p-4'>
  <div class='row'>
    <div class='col-md-12'>
       <h1><%= @log.title %></h1>
      
      <p>
        <%= @log.text.html_safe %>
      </p>

      <%= link_to 'Edit', edit_log_path(@log), class: 'btn btn-primary' %>
    </div>
  </div>
</div>